<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sample">
    <test name="First">
        <parameter name="deviceName" value=""></parameter>
        <parameter name="platformName" value=""></parameter>
        <parameter name="portNumber" value=""></parameter>
        <classes>
            <class name=""></class>
        </classes>
    </test>
</suite>